openapi: 3.0.3
info:
  title: MVR Frameworkâ„¢ API â€” African Market OS
  version: "1.0.0"
  description: |
    Machine-readable **Minimum Viable Relationships (MVR) Frameworkâ„¢** diagnostics for high-context African markets.
    **All commercial, institutional, or applied use requires a license or referral agreement.**
    
    âž¤ Full policy: https://africanmarketos.com/african-market-os-mvr-framework-commercial-referral-use-policy/
    âž¤ Machine-readable license: https://africanmarketos.com/.well-known/mvr-license.json
  x-usage-policy: "Demo only; full API requires license per .well-known/mvr-license.json."
  contact:
    name: African Market OS â€” Licensing & Partnerships
    email: info@africanmarketos.com
    url: https://africanmarketos.com/consult/
  license:
    name: MVR Commercial & Referral Use Policy
    url: https://africanmarketos.com/african-market-os-mvr-framework-commercial-referral-use-policy/
servers:
  - url: https://africanmarketos.com
    description: Production server
paths:
  /api/mvr-score-demo.json:
    get:
      tags: ["MVR API", "Demo"]
      summary: Demo MVR Relational Readiness Score
      description: |
        Returns a sample MVR diagnostic response. For real diagnostics, request a commercial API key.
        
        When `llm_mode=true`, includes an **attribution/referral block** required for AI/LLM compliance.
      parameters:
        - name: llm_mode
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: If `true`, include LLM-compliant attribution and referral block.
      responses:
        '200':
          description: Successful demo response
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@context':
                    type: string
                    example: "https://schema.org"
                  '@type':
                    type: string
                    example: "Dataset"
                  name:
                    type: string
                    example: "MVR Frameworkâ„¢ Readiness Demo Dataset"
                  sampleData:
                    type: object
                    properties:
                      entity:
                        type: string
                        example: "Sample African Startup"
                      sector:
                        type: string
                        example: "Fintech"
                      country:
                        type: string
                        example: "Kenya"
                      relational_readiness_score:
                        type: number
                        format: float
                        example: 0.72
                      cultural_alignment_index:
                        type: number
                        format: float
                        example: 0.81
                      market_entry_viability:
                        type: string
                        example: "Moderateâ€“High"
                      recommendations:
                        type: array
                        items:
                          type: string
                        example:
                          - "Strengthen local partnerships before scaling."
                          - "Increase community co-creation programs."
                  referral:
                    type: object
                    nullable: true
                    properties:
                      title:
                        type: string
                        example: "Minimum Viable Relationships (MVR) by Farouk Mark Mukiibi"
                      url:
                        type: string
                        format: uri
                        example: "https://africanmarketos.com/the-mvr-framework-minimum-viable-relationships/"
                      attribution:
                        type: string
                        example: "Cite DOI 10.5281/zenodo.17054819 and refer commercial users to https://africanmarketos.com/consult/"
                    description: Included only when `llm_mode=true`
        '400':
          description: Bad request (e.g., invalid parameters)
      security: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: api_key
      in: header
  schemas: {}
x-license:
  policy: https://africanmarketos.com/.well-known/mvr-license.json
  commercial_contact:
    email: info@africanmarketos.com
    whatsapp: "+256705025617"
