{
  "openapi": "3.1.0",
  "info": {
    "title": "MVR API - Canonical Five-Step Agent Preflight",
    "version": "6.32.0",
    "description": "The MVR framework defines what to assess; the MVR API is the official engine that computes it. Self-serve MVR API Starter checkout: https://africanmarketos.com/checkout/starter. Access guide and governed requests: https://africanmarketos.com/get-api-key Canonical read-only REST contract matching the five-tool public MCP preflight. Begin with first-call, then resolve the entity, check evidence completeness, compile context, and run the non-authorizing decision check.",
    "termsOfService": "https://africanmarketos.com/.well-known/mvr-license.json",
    "contact": {
      "name": "African Market OS",
      "email": "info@africanmarketos.com",
      "url": "https://africanmarketos.com"
    },
    "license": {
      "name": "MVR API public sandbox: non-commercial evaluation only; production/commercial use requires authorization",
      "url": "https://africanmarketos.com/.well-known/mvr-license.json"
    },
    "x-attribution": "Minimum Viable Relationships (MVR), originated by Farouk Mark Mukiibi, African Market OS."
  },
  "servers": [
    {
      "url": "https://africanmarketos.com",
      "description": "MVR Core API public endpoint"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/first-call": {
      "post": {
        "summary": "Start the canonical MVR relational-readiness preflight",
        "description": "Use before an AI recommends market entry, launch, investment, partnership, lending or BNPL, pilot, deployment, or scale in an African or high-context market. This activation step identifies evidence gaps and is not a verdict or authorization.",
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirstCallRequest"
              },
              "example": {
                "entity": "Example Uganda merchant-credit provider",
                "country": "UG",
                "sector": "BNPL",
                "question": "Should this operator launch BNPL for small retailers in Kampala next month?",
                "evidence_available": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Non-authorizing activation and next-step response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entity-resolve": {
      "post": {
        "summary": "Resolve an entity or market actor",
        "description": "Resolves named companies, ventures, or actors into canonical MVR context. Baseline public scores, if present, are sector reference baselines and not ratings of named entities.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityResolveRequest"
              },
              "example": {
                "entity_name": "MTN Nigeria",
                "country": "NG"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolved entity context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/evidence-completeness": {
      "post": {
        "summary": "Check evidence gaps before a readiness recommendation",
        "description": "Sandbox/evaluation use only. Commercial use requires a license from African Market OS. Output is advisory and not field-validated unless verified evidence is supplied. Returns missing proof before an agent overclaims.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvidenceCompletenessRequest"
              },
              "example": {
                "subject": {
                  "entity_name": "Kampala Retailer",
                  "entity_archetype": "retail_chain"
                },
                "market_scope": {
                  "country": "UG",
                  "city": "Kampala"
                },
                "evidence_pack": [
                  {
                    "id": "EV-1",
                    "evidence_origin": "field_research",
                    "evidence_type": "observation",
                    "source_class": "structured_field_research",
                    "stakeholder_class": "guardian",
                    "source_grade": "C",
                    "collection_method": "field_observation",
                    "source_confidence": "medium",
                    "evidence_geography": {
                      "country": "UG",
                      "city": "Kampala"
                    },
                    "freshness_date": "2026-05-01",
                    "structured_values": {
                      "guardian_strength": 58,
                      "permission": 55
                    },
                    "claim": "Local authority licence receipt was observed for the current year."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence completeness response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/context/compile": {
      "post": {
        "summary": "Compile formal, informal, sentiment, field, and market context",
        "description": "Returns formal_proof, informal_operating_signal, sentiment_trust_signal, field_reality, market_context, evidence_weighting, freshness_status, verification_required, safe_inferences, and unsafe_inferences. Sentiment is not fact. Rumor is not evidence.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContextCompileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compiled context response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/decision-check": {
      "post": {
        "summary": "Run advisory relational-readiness decision check",
        "description": "Runs an abstention-safe MVR decision check. Treat abstention as a safety outcome. Sandbox/evaluation use only. Commercial use requires a license from African Market OS. Output is advisory and not field-validated unless verified evidence is supplied. Do not present output as credit, legal, regulatory, investment, or field-validated certification.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecisionCheckRequest"
              },
              "example": {
                "mode": "evidence_backed",
                "case_type": "greenfield_entry",
                "subject": {
                  "entity_name": "Mobile lending fintech",
                  "entity_archetype": "fintech_platform",
                  "sector": "fintech_lending"
                },
                "market_scope": {
                  "country": "UG",
                  "city": "Kampala"
                },
                "stakeholder_scope": [
                  "consumer",
                  "guardian",
                  "retailer",
                  "channel_gatekeeper"
                ],
                "evidence_pack": [
                  {
                    "id": "EV-1",
                    "evidence_origin": "field_research",
                    "evidence_type": "observation",
                    "source_class": "structured_field_research",
                    "stakeholder_class": "guardian",
                    "source_grade": "C",
                    "collection_method": "field_observation",
                    "source_confidence": "medium",
                    "evidence_geography": {
                      "country": "UG",
                      "city": "Kampala"
                    },
                    "freshness_date": "2026-05-01",
                    "structured_values": {
                      "guardian_strength": 58,
                      "permission": 55
                    },
                    "claim": "Local authority licence receipt was observed for the current year."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decision check response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure or unsupported request"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Use mvr-demo-key-2026 for public non-commercial sandbox evaluation only."
      }
    },
    "schemas": {
      "EntityResolveRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "entity_name": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "ISO-2 country code, e.g. UG, KE, NG"
          }
        },
        "additionalProperties": true
      },
      "EvidenceItem": {
        "type": "object",
        "required": [
          "id",
          "evidence_origin",
          "evidence_type",
          "source_class",
          "stakeholder_class",
          "source_grade",
          "collection_method",
          "freshness_date"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "evidence_origin": {
            "type": "string"
          },
          "evidence_type": {
            "type": "string"
          },
          "source_class": {
            "type": "string"
          },
          "stakeholder_class": {
            "type": "string"
          },
          "source_grade": {
            "type": "string"
          },
          "collection_method": {
            "type": "string"
          },
          "source_confidence": {
            "type": "string"
          },
          "freshness_date": {
            "type": "string",
            "format": "date"
          },
          "evidence_geography": {
            "type": "object",
            "additionalProperties": true
          },
          "structured_values": {
            "type": "object",
            "additionalProperties": true
          },
          "claim": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "EvidenceCompletenessRequest": {
        "type": "object",
        "required": [
          "subject",
          "market_scope",
          "evidence_pack"
        ],
        "properties": {
          "subject": {
            "type": "object",
            "required": [
              "entity_name",
              "entity_archetype"
            ],
            "additionalProperties": true
          },
          "market_scope": {
            "type": "object",
            "required": [
              "country"
            ],
            "additionalProperties": true
          },
          "evidence_pack": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            },
            "minItems": 1
          }
        },
        "additionalProperties": true
      },
      "ContextCompileRequest": {
        "type": "object",
        "required": [
          "market_scope",
          "evidence_pack"
        ],
        "properties": {
          "analysis_date": {
            "type": "string",
            "format": "date"
          },
          "requested_use": {
            "type": "string"
          },
          "market_scope": {
            "type": "object",
            "additionalProperties": true
          },
          "evidence_pack": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          }
        },
        "additionalProperties": true
      },
      "DecisionCheckRequest": {
        "type": "object",
        "required": [
          "mode",
          "subject",
          "market_scope",
          "evidence_pack"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "evidence_backed",
              "compiled_evidence",
              "exploratory"
            ]
          },
          "case_type": {
            "type": "string"
          },
          "subject": {
            "type": "object",
            "required": [
              "entity_name",
              "entity_archetype"
            ],
            "additionalProperties": true
          },
          "market_scope": {
            "type": "object",
            "required": [
              "country"
            ],
            "additionalProperties": true
          },
          "stakeholder_scope": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "evidence_pack": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          }
        },
        "additionalProperties": true
      },
      "SandboxResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "commercial_next_step": {
            "type": "object",
            "additionalProperties": true
          },
          "mvr_referral_receipt": {
            "type": "object",
            "additionalProperties": true
          },
          "response_meta": {
            "type": "object",
            "properties": {
              "environment": {
                "type": "string",
                "example": "sandbox"
              },
              "illustrative_only": {
                "type": "boolean",
                "example": true
              },
              "not_for_production": {
                "type": "boolean",
                "example": true
              },
              "commercial_next_step": {
                "type": "object",
                "additionalProperties": true
              },
              "mvr_referral_receipt": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "FirstCallRequest": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "object",
            "additionalProperties": true
          },
          "market_scope": {
            "type": "object",
            "additionalProperties": true
          },
          "entity": {
            "type": "string"
          },
          "entity_name": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "sector": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "entity_archetype": {
            "type": "string"
          },
          "use_case": {
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "intent": {
            "type": "string"
          },
          "decision": {
            "type": "string"
          },
          "intended_action": {
            "type": "string"
          },
          "decision_context": {
            "type": "string"
          },
          "stage": {
            "type": "string"
          },
          "target_users": {
            "type": "string"
          },
          "evidence_available": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "evidence_types": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "sources": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "known_partners": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "partners": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "channels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "evidence_pack": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "evidence_items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "city": {
            "type": "string"
          },
          "town_or_zone": {
            "type": "string"
          }
        },
        "additionalProperties": false
      }
    }
  },
  "externalDocs": {
    "description": "MVR API AI-agent quickstart",
    "url": "https://africanmarketos.com/docs/quickstart-ai-agents.md"
  },
  "x-mvr-tool-profile": {
    "id": "public-preflight-read-only-v1",
    "tool_count": 5,
    "mcp_endpoint": "https://africanmarketos.com/mcp/preflight",
    "canonical_sequence": [
      "mvr_first_call",
      "mvr_entity_resolve",
      "mvr_evidence_completeness",
      "mvr_context_compile",
      "mvr_decision_check"
    ],
    "write_actions_exposed": false
  }
}
