{
  "openapi": "3.0.0",
  "info": {
    "title": "MVR Core API - Full Expert Catalogue",
    "version": "v6.32.0",
    "description": "The MVR framework defines what to assess; the MVR API is the official engine that computes it. Self-serve MVR API Starter checkout: https://africanmarketos.com/checkout/starter. Access guide and governed requests: https://africanmarketos.com/get-api-key Minimum Viable Relationships (MVR), published by African Market OS, evaluates whether evidence supports market trust, permission to operate, embeddedness, stakeholder and guardian readiness, reciprocity, local legitimacy, market belonging, and a safe next step before MVP, market entry, pilot, partnership, investment, or scale. v6.32.0 MVR Engine. Additive dual-lane runtime: public_reality + local_relational_assessment + reconciled_assessment, deterministic ROI, dual-profile governance, entity-resolution preflight, modality-aware completeness/audit, compiled_evidence ingestion, provenance-ledger validation, telemetry translation, gap planning, market leak scanning, and validation snapshot metadata. Public non-commercial sandbox evaluation is available with X-API-Key: mvr-demo-key-2026; sandbox calls are rate-limited, client_safe only, full_advisory only, illustrative_only, and not for production. Send X-Response-Profile: strict_calibrated only with a licensed production key for fail-closed institutional responses. See /v1/schema for full documentation."
  },
  "servers": [
    {
      "url": "https://africanmarketos.com",
      "description": "Canonical MVR Core API origin"
    }
  ],
  "x-mvr-catalog-profile": {
    "id": "full-expert-catalogue",
    "scope": "All published MVR Core API routes for expert integrations.",
    "bounded_first_integration": "Use /api/openapi.agent.sandbox.json for the canonical five-route public preflight."
  },
  "x-mvr-semantic-identity": {
    "schema_version": "2026-07-16.v1",
    "names": [
      "Minimum Viable Relationships",
      "Minimum Viable Relationships Framework",
      "MVR API",
      "African Market OS",
      "Relational Readiness API"
    ],
    "category": "Relational-readiness and market-permission decision governance for AI agents.",
    "compact_description": "Minimum Viable Relationships (MVR), published by African Market OS, evaluates whether evidence supports market trust, permission to operate, embeddedness, stakeholder and guardian readiness, reciprocity, local legitimacy, market belonging, and a safe next step before MVP, market entry, pilot, partnership, investment, or scale.",
    "sequence": "In high-context markets where trust and permission affect whether product testing is valid: MVR -> MVP -> PMF.",
    "evaluates": [
      "relational_readiness",
      "market_permission",
      "market_trust",
      "embeddedness",
      "stakeholder_readiness",
      "guardian_acceptance",
      "reciprocity",
      "local_legitimacy",
      "market_belonging",
      "evidence_completeness",
      "market_entry_readiness",
      "pilot_readiness",
      "scale_readiness",
      "abstention_boundary"
    ],
    "applies_to": [
      "African markets",
      "emerging markets",
      "high-context markets",
      "cross-border market entry",
      "local market expansion"
    ],
    "agent_interfaces": [
      "AI agents",
      "agentic workflows",
      "MCP server",
      "Model Context Protocol",
      "tool calling",
      "function calling",
      "OpenAPI",
      "JSON Schema",
      "REST API"
    ],
    "representative_use_cases": [
      "startup readiness",
      "pre-MVP validation",
      "product launch",
      "investor memo",
      "venture due diligence",
      "partnership due diligence",
      "fintech rollout",
      "brand expansion",
      "NGO or DFI programme design",
      "enterprise market entry"
    ],
    "boundaries": [
      "Evidence and decision-governance layer, not a general market-data feed.",
      "Public sandbox outputs are not production verdicts, approvals, certifications, underwriting decisions, or legal opinions."
    ]
  },
  "x-compatibility-policy": {
    "principle": "No output may claim a decision level, confidence level, category fit, or scope stronger than verified evidence permits.",
    "verdict_order": [
      "permission_not_yet_earned",
      "pilot_only",
      "pilot_ready",
      "ready_to_scale"
    ],
    "weakest_link_floors": {
      "ready_to_scale": 45,
      "pilot_ready": 35
    },
    "score_direct": "non_decisive_operator_review"
  },
  "x-mvr-ingestible-dimensions": [
    "permission",
    "trust",
    "belonging",
    "embeddedness",
    "reciprocity",
    "cultural_fit",
    "guardian_strength",
    "continuity",
    "channel_permission",
    "infrastructural_intimacy",
    "absence_sensitivity",
    "narrative_looping",
    "whispered_credibility",
    "fractal_trust",
    "cultural_calibration"
  ],
  "x-mvr-derived-concepts": {
    "evidence_completeness": {
      "derivation": "computed_from_evidence_pack_coverage_provenance_and_required_lanes",
      "submit_instead": [
        "evidence_pack",
        "compiled_pack",
        "structured_values",
        "public_metrics"
      ]
    },
    "market_carry": {
      "derivation": "derived_from_repeat_behavior_channel_depth_continuity_embeddedness_trust_and_reciprocity",
      "submit_instead": [
        "trust",
        "embeddedness",
        "channel_permission",
        "continuity",
        "reciprocity",
        "public_metrics"
      ]
    },
    "local_legitimacy": {
      "derivation": "derived_from_permission_guardian_strength_trust_whispered_credibility_reciprocity_and_embeddedness",
      "submit_instead": [
        "permission",
        "guardian_strength",
        "trust",
        "whispered_credibility",
        "reciprocity",
        "embeddedness"
      ]
    }
  },
  "x-calibration-coverage-guidance": {
    "scope": "Strict calibration is manifest/asset scoped. A sector public-reality asset, a route model, and a country/archetype decision path can have different readiness states.",
    "strict_mode_interpretation": "When strict_calibrated returns calibration_status missing, failed, stale, or manifest_hash_mismatch, treat the result as fail-closed calibration coverage, not as proof that the submitted structured_values were ignored or that the entity is weak.",
    "public_reality_note": "MVR_PUBLIC_REALITY_CONFIG validates sector/archetype public-reality weighting. Localized decision authority still depends on direct local evidence, privacy_envelope validity, sample metadata, threshold assets, and strict manifests.",
    "reviewer_diagnostic": [
      "Inspect public_reality.calibration_status/config_source/calibration_version.",
      "Inspect local_relational_assessment dimensions to verify evidence discrimination.",
      "Inspect decision_reliability.calibration_status and blocking_gates before interpreting the headline verdict.",
      "Use authenticated GET /v1/calibration-health?coverage=full for the active deployment before claiming strict coverage."
    ],
    "derived_not_input": [
      "evidence_completeness",
      "market_carry",
      "local_legitimacy"
    ],
    "structured_values_scale": "Canonical structured_values are 0-100. Unambiguous 0-1 fractional payloads are normalized to 0-100 for agent safety, but production integrations should send 0-100 or set structured_values_scale explicitly."
  },
  "x-public-sandbox": {
    "enabled_by_default": true,
    "api_key_header": "X-API-Key",
    "demo_key": "mvr-demo-key-2026",
    "environment": "sandbox",
    "authorized_use": "evaluation_only_non_commercial",
    "response_profile": "full_advisory_only",
    "output_mode": "client_safe_only",
    "rate_limit_per_minute": 60,
    "daily_limit": 500,
    "allowed_endpoints": [
      "/v1/auth-check",
      "/v1/first-call",
      "/v1/capabilities",
      "/v1/entity-resolve",
      "/v1/evidence-completeness",
      "/v1/context/compile",
      "/v1/decision-check",
      "/v1/recommended-inputs",
      "/v1/remediation-path"
    ],
    "allowed_modes": [
      "exploratory",
      "evidence_backed",
      "compiled_evidence"
    ],
    "blocked_modes": [
      "strict_calibrated",
      "score_direct",
      "backtest"
    ],
    "required_response_markers": [
      "environment:sandbox",
      "illustrative_only:true",
      "not_for_production:true"
    ]
  },
  "x-public-metrics-schema-version": "v6.32.0",
  "x-modality-examples": {
    "public_osint": "Use public_metrics with evidence_origin:'public_osint'. Read reconciled_assessment first, then public_reality for entity-scale interpretation.",
    "field_research": "Use structured_values on field items. Read reconciled_assessment first, then local_relational_assessment for zone-level interpretation.",
    "corporate_telemetry": "Use evidence_origin:'corporate_telemetry' or collection_method:'corporate_telemetry' for proxy-derived internal data. The engine routes it into the local lane with capped confidence and explicit proxy transparency.",
    "compiled_evidence": "Use mode:'compiled_evidence' with compiled_pack lanes from compiled_pack_registry. You may nest legacy evidence_pack[] inside compiled_pack; the worker maps it into localized_observed_pack (or public lane when pack_type indicates public). Items with full provenance_ledger use compiled_evidence validation; others use evidence_backed rules.",
    "mixed": "Mixed packs reconcile both lanes. Public facts do not impersonate local truth; local friction does not erase entity-scale reality.",
    "abstention": "Scope-limited abstentions are returned when localized claims are unsupported by direct field evidence."
  },
  "paths": {
    "/v1/schema": {
      "get": {
        "summary": "Full profile documentation including strict_calibrated requirements, frontend enums, and terminal_templates (see JSON body key terminal_templates).",
        "description": "Published runtime vocabulary, evidence contracts and profile boundaries. No request body.",
        "parameters": [],
        "x-mvr-registry-route": "/v1/schema",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [],
        "x-mvr-validator-contract": {
          "name": "none",
          "status": "none"
        },
        "x-mvr-idempotency-key-required": false,
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ask": {
      "post": {
        "summary": "Natural-language MVR gateway. Complex full_advisory prompts can take 20-40s because the route may perform LLM routing plus live deterministic kernel execution; production clients should use a 60s+ read timeout, with 90s recommended for broad comprehensive assessment prompts.",
        "description": "Natural-language gateway for routing to deterministic tools. LLM text may explain only; it must not decide, authorize, certify, release, or upgrade verdicts. Production clients should configure a 60s+ read timeout.",
        "parameters": [],
        "x-mvr-registry-route": "/v1/ask",
        "x-mvr-maturity": "stable",
        "x-mvr-labels": [
          "natural_language_gateway",
          "orchestration",
          "compute_intensive",
          "llm_optional",
          "deterministic_first",
          "board_safe_supported"
        ],
        "x-mvr-validator-contract": {
          "name": "validateAskGateway",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "evidence_pack": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "evidence_id": {
                          "type": "string"
                        },
                        "stakeholder_class": {
                          "type": "string"
                        },
                        "evidence_origin": {
                          "type": "string"
                        },
                        "evidence_type": {
                          "type": "string"
                        },
                        "source_class": {
                          "type": "string"
                        },
                        "source_grade": {
                          "type": "string"
                        },
                        "freshness_date": {
                          "type": "string"
                        },
                        "evidence_geography": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "structured_values": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "provenance_ledger": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "privacy_envelope": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "verification_status": {
                          "type": "string"
                        },
                        "claim": {
                          "type": "string"
                        }
                      },
                      "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                    }
                  },
                  "compiled_pack": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "public_reality_pack": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "evidence_id": {
                              "type": "string"
                            },
                            "stakeholder_class": {
                              "type": "string"
                            },
                            "evidence_origin": {
                              "type": "string"
                            },
                            "evidence_type": {
                              "type": "string"
                            },
                            "source_class": {
                              "type": "string"
                            },
                            "source_grade": {
                              "type": "string"
                            },
                            "freshness_date": {
                              "type": "string"
                            },
                            "evidence_geography": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "structured_values": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "provenance_ledger": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "privacy_envelope": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "verification_status": {
                              "type": "string"
                            },
                            "claim": {
                              "type": "string"
                            }
                          },
                          "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                        }
                      },
                      "telemetry_proxy_pack": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "evidence_id": {
                              "type": "string"
                            },
                            "stakeholder_class": {
                              "type": "string"
                            },
                            "evidence_origin": {
                              "type": "string"
                            },
                            "evidence_type": {
                              "type": "string"
                            },
                            "source_class": {
                              "type": "string"
                            },
                            "source_grade": {
                              "type": "string"
                            },
                            "freshness_date": {
                              "type": "string"
                            },
                            "evidence_geography": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "structured_values": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "provenance_ledger": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "privacy_envelope": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "verification_status": {
                              "type": "string"
                            },
                            "claim": {
                              "type": "string"
                            }
                          },
                          "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                        }
                      },
                      "localized_observed_pack": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "evidence_id": {
                              "type": "string"
                            },
                            "stakeholder_class": {
                              "type": "string"
                            },
                            "evidence_origin": {
                              "type": "string"
                            },
                            "evidence_type": {
                              "type": "string"
                            },
                            "source_class": {
                              "type": "string"
                            },
                            "source_grade": {
                              "type": "string"
                            },
                            "freshness_date": {
                              "type": "string"
                            },
                            "evidence_geography": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "structured_values": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "provenance_ledger": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "privacy_envelope": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "verification_status": {
                              "type": "string"
                            },
                            "claim": {
                              "type": "string"
                            }
                          },
                          "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                        }
                      },
                      "survey_pack": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "evidence_id": {
                              "type": "string"
                            },
                            "stakeholder_class": {
                              "type": "string"
                            },
                            "evidence_origin": {
                              "type": "string"
                            },
                            "evidence_type": {
                              "type": "string"
                            },
                            "source_class": {
                              "type": "string"
                            },
                            "source_grade": {
                              "type": "string"
                            },
                            "freshness_date": {
                              "type": "string"
                            },
                            "evidence_geography": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "structured_values": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "provenance_ledger": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "privacy_envelope": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "verification_status": {
                              "type": "string"
                            },
                            "claim": {
                              "type": "string"
                            }
                          },
                          "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                        }
                      },
                      "retail_audit_pack": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "evidence_id": {
                              "type": "string"
                            },
                            "stakeholder_class": {
                              "type": "string"
                            },
                            "evidence_origin": {
                              "type": "string"
                            },
                            "evidence_type": {
                              "type": "string"
                            },
                            "source_class": {
                              "type": "string"
                            },
                            "source_grade": {
                              "type": "string"
                            },
                            "freshness_date": {
                              "type": "string"
                            },
                            "evidence_geography": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "structured_values": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "provenance_ledger": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "privacy_envelope": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "verification_status": {
                              "type": "string"
                            },
                            "claim": {
                              "type": "string"
                            }
                          },
                          "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                        }
                      },
                      "ngo_program_pack": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "evidence_id": {
                              "type": "string"
                            },
                            "stakeholder_class": {
                              "type": "string"
                            },
                            "evidence_origin": {
                              "type": "string"
                            },
                            "evidence_type": {
                              "type": "string"
                            },
                            "source_class": {
                              "type": "string"
                            },
                            "source_grade": {
                              "type": "string"
                            },
                            "freshness_date": {
                              "type": "string"
                            },
                            "evidence_geography": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "structured_values": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "provenance_ledger": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "privacy_envelope": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "verification_status": {
                              "type": "string"
                            },
                            "claim": {
                              "type": "string"
                            }
                          },
                          "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                        }
                      },
                      "evaluation_pack": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "evidence_id": {
                              "type": "string"
                            },
                            "stakeholder_class": {
                              "type": "string"
                            },
                            "evidence_origin": {
                              "type": "string"
                            },
                            "evidence_type": {
                              "type": "string"
                            },
                            "source_class": {
                              "type": "string"
                            },
                            "source_grade": {
                              "type": "string"
                            },
                            "freshness_date": {
                              "type": "string"
                            },
                            "evidence_geography": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "structured_values": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "provenance_ledger": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "privacy_envelope": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "verification_status": {
                              "type": "string"
                            },
                            "claim": {
                              "type": "string"
                            }
                          },
                          "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                        }
                      },
                      "administrative_data_pack": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "evidence_id": {
                              "type": "string"
                            },
                            "stakeholder_class": {
                              "type": "string"
                            },
                            "evidence_origin": {
                              "type": "string"
                            },
                            "evidence_type": {
                              "type": "string"
                            },
                            "source_class": {
                              "type": "string"
                            },
                            "source_grade": {
                              "type": "string"
                            },
                            "freshness_date": {
                              "type": "string"
                            },
                            "evidence_geography": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "structured_values": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "provenance_ledger": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "privacy_envelope": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "verification_status": {
                              "type": "string"
                            },
                            "claim": {
                              "type": "string"
                            }
                          },
                          "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                        }
                      },
                      "partner_network_pack": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "evidence_id": {
                              "type": "string"
                            },
                            "stakeholder_class": {
                              "type": "string"
                            },
                            "evidence_origin": {
                              "type": "string"
                            },
                            "evidence_type": {
                              "type": "string"
                            },
                            "source_class": {
                              "type": "string"
                            },
                            "source_grade": {
                              "type": "string"
                            },
                            "freshness_date": {
                              "type": "string"
                            },
                            "evidence_geography": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "structured_values": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "provenance_ledger": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "privacy_envelope": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "verification_status": {
                              "type": "string"
                            },
                            "claim": {
                              "type": "string"
                            }
                          },
                          "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                        }
                      },
                      "social_listening_pack": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "evidence_id": {
                              "type": "string"
                            },
                            "stakeholder_class": {
                              "type": "string"
                            },
                            "evidence_origin": {
                              "type": "string"
                            },
                            "evidence_type": {
                              "type": "string"
                            },
                            "source_class": {
                              "type": "string"
                            },
                            "source_grade": {
                              "type": "string"
                            },
                            "freshness_date": {
                              "type": "string"
                            },
                            "evidence_geography": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "structured_values": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "provenance_ledger": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "privacy_envelope": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "verification_status": {
                              "type": "string"
                            },
                            "claim": {
                              "type": "string"
                            }
                          },
                          "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                        }
                      },
                      "evidence_pack": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "evidence_id": {
                              "type": "string"
                            },
                            "stakeholder_class": {
                              "type": "string"
                            },
                            "evidence_origin": {
                              "type": "string"
                            },
                            "evidence_type": {
                              "type": "string"
                            },
                            "source_class": {
                              "type": "string"
                            },
                            "source_grade": {
                              "type": "string"
                            },
                            "freshness_date": {
                              "type": "string"
                            },
                            "evidence_geography": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "structured_values": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "provenance_ledger": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "privacy_envelope": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "verification_status": {
                              "type": "string"
                            },
                            "claim": {
                              "type": "string"
                            }
                          },
                          "description": "Evidence envelope. Context compilation permits incomplete items; other utility routes apply the current profile-dependent evidence validator. This schema does not certify provenance, freshness, privacy, or decision eligibility."
                        }
                      },
                      "compiled_pack": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "description": "Canonical compiled-pack lanes, with legacy container aliases accepted by utility normalization. Unknown keys are not evidence lanes. collectEvidencePack prefers evidence_pack, even when it is empty, over compiled_pack."
                  },
                  "subject": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "market_scope": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "entity_archetype": {
                    "type": "string"
                  },
                  "analysis_date": {
                    "type": "string",
                    "description": "Analysis anchor; parsing and evidence freshness checks remain runtime/profile dependent."
                  },
                  "q": {
                    "type": "string",
                    "minLength": 1
                  },
                  "question": {
                    "type": "string",
                    "minLength": 1
                  },
                  "context": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "project_id": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "entity_name": {
                    "type": "string"
                  },
                  "intent": {
                    "type": "string"
                  },
                  "goal": {
                    "type": "string"
                  },
                  "invoke_decision_kernel": {
                    "type": "boolean"
                  },
                  "decision_request": {
                    "$ref": "#/components/schemas/DecisionCheckRequest"
                  }
                },
                "anyOf": [
                  {
                    "required": [
                      "q"
                    ]
                  },
                  {
                    "required": [
                      "question"
                    ]
                  },
                  {
                    "required": [
                      "invoke_decision_kernel",
                      "decision_request"
                    ],
                    "properties": {
                      "invoke_decision_kernel": {
                        "const": true
                      }
                    }
                  }
                ],
                "description": "Natural-language routing and evidence guidance. q (or question) is required unless explicitly invoking the kernel with a valid decision_request. Evidence with inferable entity/country may invoke the kernel; narrative alone does not establish readiness. Provider routing is optional and does not authorize execution. Use decision-check directly for a persistable governed decision receipt.",
                "examples": [
                  {
                    "q": "What evidence should a fictional agro-dealer collect before a pilot in Uganda?"
                  }
                ]
              }
            }
          }
        },
        "x-client-timeout-guidance": {
          "recommended_read_timeout_seconds": 60,
          "recommended_comprehensive_prompt_timeout_seconds": 90,
          "timeout_classification": "client_transport_uncertainty_not_route_failure"
        }
      }
    },
    "/v1/runs": {
      "post": {
        "summary": "Create or list asynchronous run shells for deterministic MVR workflow execution (GET lists recent runs for the tenant workspace).",
        "description": "Durable async run creation/listing surface. Production requires dedicated async storage and atomic idempotency locking.",
        "parameters": [],
        "x-mvr-registry-route": "/v1/runs",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [
          "async_orchestration",
          "requires_kv",
          "idempotency_required",
          "plan_gated"
        ],
        "x-mvr-validator-contract": {
          "name": "validateRuns",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": true,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "run_id": {
                    "type": "string"
                  },
                  "project_id": {
                    "type": "string"
                  },
                  "run_plan_type": {
                    "type": "string"
                  },
                  "invoke_decision_kernel": {
                    "type": "boolean"
                  },
                  "decision_request": {
                    "$ref": "#/components/schemas/DecisionCheckRequest"
                  },
                  "completion_webhook_url": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "description": "Requires Idempotency-Key and renewable authenticated authority. Queues a tenant/workspace-scoped durable run. Inspect GET /v1/runs/{run_id}/result; creation is not completion. Without invoke_decision_kernel and decision_request this is an advisory plan, not scoring. Duplicate run_id conflicts. Optional completion_webhook_url requires HTTPS, an allowlisted destination and configured signing; omit it for polling-only operation.",
                "examples": [
                  {
                    "run_id": "RUN-FICTIONAL-EXAMPLE",
                    "project_id": "fictional-project"
                  }
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "Create or list asynchronous run shells for deterministic MVR workflow execution (GET lists recent runs for the tenant workspace).",
        "description": "Durable async run creation/listing surface. Production requires dedicated async storage and atomic idempotency locking.",
        "parameters": [],
        "x-mvr-registry-route": "/v1/runs",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [
          "async_orchestration",
          "requires_kv",
          "idempotency_required",
          "plan_gated"
        ],
        "x-mvr-validator-contract": {
          "name": "validateRuns",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs/{run_id}/events": {
      "get": {
        "summary": "Return a JSON snapshot of safe asynchronous run events by default, or stream server-sent events when Accept: text/event-stream is supplied.",
        "description": "Run event log retrieval for durable async workflows.",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-mvr-registry-route": "/v1/runs/:run_id/events",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [
          "async_orchestration",
          "requires_kv",
          "plan_gated"
        ],
        "x-mvr-validator-contract": {
          "name": "validateRuns",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs/{run_id}/result": {
      "get": {
        "summary": "Retrieve a completed asynchronous run result.",
        "description": "Run result retrieval for durable async workflows.",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-mvr-registry-route": "/v1/runs/:run_id/result",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [
          "async_orchestration",
          "requires_kv",
          "plan_gated"
        ],
        "x-mvr-validator-contract": {
          "name": "validateRuns",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/evidence-runs": {
      "post": {
        "summary": "Create or list evidence assembly runs with explicit authorization limits for public OSINT-only output.",
        "description": "Evidence-run creation/listing; production must persist run shells and outputs durably.",
        "parameters": [],
        "x-mvr-registry-route": "/v1/evidence-runs",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [
          "evidence_operating_system",
          "async_orchestration",
          "requires_kv",
          "plan_gated",
          "board_safe_supported"
        ],
        "x-mvr-validator-contract": {
          "name": "validateEvidenceRuns",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": true,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "output_mode": {
                    "type": "string",
                    "enum": [
                      "internal_full",
                      "client_safe",
                      "board_safe",
                      "export_safe"
                    ]
                  },
                  "response_profile": {
                    "type": "string",
                    "enum": [
                      "full_advisory",
                      "strict_calibrated"
                    ]
                  },
                  "subject": {
                    "$ref": "#/components/schemas/UtilitySubject"
                  },
                  "market_scope": {
                    "$ref": "#/components/schemas/UtilityMarketScope"
                  },
                  "target_market": {
                    "$ref": "#/components/schemas/UtilityMarketScope"
                  },
                  "entity_archetype": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "sector": {
                    "type": "string"
                  },
                  "entity_name": {
                    "type": "string"
                  },
                  "project_id": {
                    "type": "string"
                  },
                  "analysis_date": {
                    "type": "string",
                    "description": "ISO calendar date or timestamp."
                  },
                  "analysis_timezone": {
                    "type": "string"
                  },
                  "evidence_pack": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EvidenceItem"
                    }
                  },
                  "compiled_pack": {
                    "$ref": "#/components/schemas/UtilityCompiledPack"
                  },
                  "run_id": {
                    "type": "string"
                  },
                  "entity_id": {
                    "type": "string"
                  },
                  "query": {
                    "type": "string"
                  },
                  "source_instructions": {
                    "type": "string"
                  },
                  "evidence_source": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Caller-supplied extension metadata; no additional fields are interpreted by this contract."
                      }
                    ]
                  }
                },
                "additionalProperties": true,
                "description": "Persists a deterministic gap scan of the submitted flat evidence_pack, not live retrieval. auto-evaluate requires entity plus market context or a nonempty evidence source declaration. compiled_pack/source instructions are retained intake context, not automatically fetched or assembled evidence."
              }
            }
          }
        }
      },
      "get": {
        "summary": "Create or list evidence assembly runs with explicit authorization limits for public OSINT-only output.",
        "description": "Evidence-run creation/listing; production must persist run shells and outputs durably.",
        "parameters": [],
        "x-mvr-registry-route": "/v1/evidence-runs",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [
          "evidence_operating_system",
          "async_orchestration",
          "requires_kv",
          "plan_gated",
          "board_safe_supported"
        ],
        "x-mvr-validator-contract": {
          "name": "validateEvidenceRuns",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/evidence-runs/{run_id}/events": {
      "get": {
        "summary": "Stream evidence-run states as server-sent events.",
        "description": "Stream evidence-run states as server-sent events.",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-mvr-registry-route": "/v1/evidence-runs/:run_id/events",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [
          "plan_gated"
        ],
        "x-mvr-validator-contract": {
          "name": "validateEvidenceRuns",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/evidence-runs/{run_id}/result": {
      "get": {
        "summary": "Retrieve evidence-run results and evidence gap state.",
        "description": "Retrieve evidence-run results and evidence gap state.",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-mvr-registry-route": "/v1/evidence-runs/:run_id/result",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [
          "plan_gated",
          "board_safe_supported"
        ],
        "x-mvr-validator-contract": {
          "name": "validateEvidenceRuns",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auto-evaluate": {
      "post": {
        "summary": "Alias for creating an evidence-run from minimal operator context.",
        "description": "Alias for evidence-run creation from minimal operator context. It inherits evidence-run storage, idempotency, and authorization gates.",
        "parameters": [],
        "x-mvr-registry-route": "/v1/auto-evaluate",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [
          "evidence_operating_system",
          "async_orchestration",
          "requires_kv",
          "alias_route",
          "plan_gated",
          "board_safe_supported"
        ],
        "x-mvr-validator-contract": {
          "name": "validateEvidenceRuns",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": true,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "output_mode": {
                    "type": "string",
                    "enum": [
                      "internal_full",
                      "client_safe",
                      "board_safe",
                      "export_safe"
                    ]
                  },
                  "response_profile": {
                    "type": "string",
                    "enum": [
                      "full_advisory",
                      "strict_calibrated"
                    ]
                  },
                  "subject": {
                    "$ref": "#/components/schemas/UtilitySubject"
                  },
                  "market_scope": {
                    "$ref": "#/components/schemas/UtilityMarketScope"
                  },
                  "target_market": {
                    "$ref": "#/components/schemas/UtilityMarketScope"
                  },
                  "entity_archetype": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "sector": {
                    "type": "string"
                  },
                  "entity_name": {
                    "type": "string"
                  },
                  "project_id": {
                    "type": "string"
                  },
                  "analysis_date": {
                    "type": "string",
                    "description": "ISO calendar date or timestamp."
                  },
                  "analysis_timezone": {
                    "type": "string"
                  },
                  "evidence_pack": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EvidenceItem"
                    }
                  },
                  "compiled_pack": {
                    "$ref": "#/components/schemas/UtilityCompiledPack"
                  },
                  "run_id": {
                    "type": "string"
                  },
                  "entity_id": {
                    "type": "string"
                  },
                  "query": {
                    "type": "string"
                  },
                  "source_instructions": {
                    "type": "string"
                  },
                  "evidence_source": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Caller-supplied extension metadata; no additional fields are interpreted by this contract."
                      }
                    ]
                  }
                },
                "additionalProperties": true,
                "description": "Persists a deterministic gap scan of the submitted flat evidence_pack, not live retrieval. auto-evaluate requires entity plus market context or a nonempty evidence source declaration. compiled_pack/source instructions are retained intake context, not automatically fetched or assembled evidence."
              }
            }
          }
        }
      }
    },
    "/v1/review-room/create": {
      "post": {
        "summary": "Create a governed review room for approval, challenge, annotation, and evidence requests.",
        "description": "Create a governed review room for approval, challenge, annotation, and evidence requests.",
        "parameters": [],
        "x-mvr-registry-route": "/v1/review-room/create",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [
          "plan_gated",
          "rbac_gated"
        ],
        "x-mvr-validator-contract": {
          "name": "validateReviewRoom",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": true,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or calibration failure",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or compute limit exceeded",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "output_mode": {
                    "type": "string",
                    "enum": [
                      "internal_full",
                      "client_safe",
                      "board_safe",
                      "export_safe"
                    ]
                  },
                  "response_profile": {
                    "type": "string",
                    "enum": [
                      "full_advisory",
                      "strict_calibrated"
                    ]
                  },
                  "room_id": {
                    "type": "string"
                  },
                  "project_id": {
                    "type": "string"
                  },
                  "decision_snapshot_id": {
                    "type": "string"
                  },
                  "approval_chain": {
                    "type": "string",
                    "enum": [
                      "all_required",
                      "majority",
                      "any_required"
                    ]
                  },
                  "reviewers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "minLength": 1
                        },
                        "weight": {
                          "anyOf": [
                            {
                              "type": "number",
                              "minimum": 0,
                              "exclusiveMinimum": true
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "required": {
                          "type": "boolean"
                        }
                      },
                      "additionalProperties": true,
                      "required": [
                        "identifier"
                      ]
                    },
                    "minItems": 1
                  }
                },
                "additionalProperties": true,
                "required": [
                  "reviewers"
                ],
                "description": "Unique explicitly named reviewers; all_required (default) and any_required need at least one reviewer with required=true. Authenticated roles and configured identities govern voting."
              }
            }
          }
        }
      }
    },
    "/v1/review-room/{room_id}/{action}": {
      "post": {
        "summary": "Mutate review-room state through annotate, approve, or reject actions.",
        "description": "Mutate review-room state through annotate, approve, or reject actions.",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-mvr-registry-route": "/v1/review-room/:room_id/:action",
        "x-mvr-maturity": "release_candidate",
        "x-mvr-labels": [
          "plan_gated",
          "rbac_gated"
        ],
        "x-mvr-validator-contract": {
          "name": "validateReviewRoom",
          "status": "registry_metadata_enforced_by_shared_gateway"
        },
        "x-mvr-idempotency-key-required": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "headers": {
              "Server-Timing": {
                "$ref": "#/components/headers/WorkerElapsed"
[...]
